adapter driver ftdi
adapter speed 1000
transport select jtag
bindto 0.0.0.0

# FT4232 
ftdi_vid_pid 0x0403 0x6011

ftdi_channel 0
ftdi_layout_init 0x00e8 0x60eb

reset_config none

echo "ftdi setting..."

set irlen 5


transport select jtag
telnet_port disabled
tcl_port disabled
reset_config none

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen ${irlen} -expected-id 0x10001C05

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0

gdb_report_data_abort enable
gdb_report_register_access_error enable

riscv set_reset_timeout_sec 120
riscv set_command_timeout_sec 3600

riscv set_mem_access progbuf sysbus

# Exit when debugger detaches
$_TARGETNAME configure -event gdb-detach {
    echo "GDB detached; ending debugging session."
    shutdown
}

targets $_TARGETNAME
init
halt
echo "Ready for Remote Connections."
